body{
font-family: 'Ropa Sans', sans-serif;
font-size:16px;
background: #e1e1e1;
}

.profile-box img{
height: 180px;
width: auto;
}
.profile-box button{
font-size: 12px;
}
.profile-box p{
font-size: 13px;
line-height: 1;
}